CLIO_CLIENT_ID=
CLIO_CLIENT_SECRET=
ANTHROPIC_API_KEY=
GMAIL_USER=falihaawan310@gmail.com
GMAIL_APP_PASSWORD=
PORT=
BASE_URL=
CLIO_REDIRECT_URI=
SESSION_SECRET=
BOOKING_LINK_INOFFICE=https://calendly.com/swans-santiago-p/summer-spring
BOOKING_LINK_VIRTUAL=https://calendly.com/swans-santiago-p/winter-autumn
PARALEGAL_EMAIL=
RESEND_API_KEY=